.topBg {
  height: 520px;
  box-sizing: border-box;
  background-image: url('/img/home-bg.png');
  background-color: var(--black);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  padding-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .addBtn {
    background: rgba(96, 96, 96, 0.68);
    border-radius: 4px;
    padding: 11px 18px;
    transition: filter .2s ease;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--main-red);
    text-underline: none;
    &:hover {
      filter: brightness(90%);
    }
  }
}

.upper {
  margin: 35px 65px 0 65px;
  .title {
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white);
  }
  &Btn {
    flex-grow: 1;
  }
  form {
    margin-top: 38px;
    display: flex;
    gap: 14px;
    .searchInput {
      padding: 16px 0 16px 19px;
      font-size: 20px;
      line-height: 24px;
      color: var(--white);
      background-color: var(--grey-light);
      opacity: 0.7;
      flex-grow: 2;
      &::placeholder {
        color: white;
        opacity: .4;
      }
    }
  }
}
