.movie-card {
  max-width: 325px;
  display: flex;
  flex-direction: column;
  &:hover {
    .movie-card__img {
      opacity: .8;
      transform: scale(1.05);
    }
  }
  &__img-wrapper {
    height: 464px;
    position: relative;
    background-color: var(--black);
    overflow: hidden;
    .movie-card__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: .2s ease-in;
    }
    &:hover > .movie-card__actions {
      opacity: 1;
    }
  }
  &__info {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    opacity: .7;
    color: var(--white);
  }
  &__year {
    border: 1px solid #979797;
    border-radius: 4px;
    padding: 4px 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    opacity: .7;
    color: var(--white);
  }
  &__genre {
    margin-top: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    opacity: .5;
    color: var(--white);
  }
  &__actions {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;

    opacity: 0;
    transition: .2s ease;
    z-index: 10;

    button {
      background-color: transparent;
    }

    img {
      width: 36px;
      height: 36px;
      object-fit: cover;
    }
  }

  &__modal {
    position: absolute;
    display: none;
    right: 17px;
    top: 20px;
    padding: 30px 0 15px 0;
    width: 190px;
    z-index: 10;

    background-color: var(--black);
    border-radius: 4px;
    &_shown {
      display: block;
    }
  }

  &__close {
    position: absolute;
    right: 9px;
    top: 7px;
    width: 12px;
    height: 12px;
    padding: 0;
    background-color: transparent;
    img {
      width: 100%;
    }
  }

  &__btn {
    width: 100%;
    background-color: transparent;
    padding: 6px 23px;
    text-align: left;
    color: var(--white);
    font-size: 16px;
    line-height: 20px;

    &:hover {
      background-color: var(--main-red);
    }
  }
}
