.deleteModal {
  &__message {
    margin-top: 37px;
    font-size: 20px;
    line-height: 24px;
    color: var(--white);
  }
  &__actions {
    margin-top: 52px;
    display: flex;
    justify-content: flex-end;
  }
  &__btn {
    max-width: 180px;
  }
}
