.input {
  display: flex;
  flex-direction: column;
  &_datepicker {
    position: relative;
    &-img {
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-25%);
      pointer-events: none;
    }
    .input__field {
      width: 100%;
      cursor: pointer;
    }
  }

  &__label {
    color: var(--main-red);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__field {
    background: rgba(50, 50, 50, 0.948044);
    padding: 16px 18px;
    margin-top: 13px;
    min-height: 57px;

    box-sizing: border-box;

    font-size: 20px;
    line-height: 24px;
    color: var(--white);

    transition: border-bottom-color .2s ease;
    border-bottom: 1px solid transparent;
    &_error {
      border-bottom-color: #F93244FF;
    }
  }

  &__textarea {
    grid-area: 4 / 3 / 5 / 1;
    textarea {
      min-height: 200px;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      line-height: 24px;
      resize: none;
    }
  }

  &__errors {
    color: #F93244FF;
    font-size: 14px;
    margin-top: 5px;
    height: 20px;
  }
}
