.movie-form {
  &__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
  }

  &__textarea {
    grid-column: span 2;
    textarea {
      min-height: 200px;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      line-height: 24px;
      resize: none;
    }
  }

  &__actions {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    gap: 13px;
  }

  &__btn {
    max-width: 180px;
  }
}

.input {
  display: flex;
  flex-direction: column;

  &_datepicker {
    position: relative;
    img {
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-25%);
      pointer-events: none;
    }
    input {
      width: 100%;
    }
  }

  &__label {
    color: var(--main-red);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__field {
    background: rgba(50, 50, 50, 0.948044);
    padding: 16px 18px;
    margin-top: 13px;
    min-height: 57px;

    box-sizing: border-box;

    font-size: 20px;
    line-height: 24px;
    color: var(--white);
  }
}
