.filters {
  display: flex;
  justify-content: space-between;
  &__btn {
    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
    background-color: transparent;
    padding-bottom: 19px;
    border-bottom: 4px solid transparent;
    z-index: 10;
    &_active {
      border-bottom-color: var(--main-red);
    }
    &:hover {
      color: #bebebe;
    }
  }
  &__genre {
    display: flex;
    gap: 30px;
  }
  &__sort {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    text-transform: uppercase;
    label {
      font-size: 16px;
      line-height: 20px;
      color: var(--white);
      opacity: .6;
    }
    select {
      text-transform: uppercase;
      background-color: transparent;
      border: none;

      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: var(--white);
      option {
        color: var(--black);
      }
    }
  }
}
