.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(35, 35, 35, 0.7);
  z-index: 100;
  overflow-y: auto;
}

.modal {
  position: relative;
  top: 20px;
  max-width: 976px;
  width: 90%;
  padding: 30px;

  background: var(--black);
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  &__close {
    background-color: transparent;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  &__title {
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;

    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white);
  }
}
