@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&display=swap');

:root {
  --main-red: #F65261;
  --black: #232323;
  --white: #FFFFFF;
  --grey: #424242;
  --grey-light: #555555;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

* {
  font-family: 'Montserrat', sans-serif;
}

button, input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}
