.divider {
  background: var(--grey);
  mix-blend-mode: normal;
  height: 10px;
}

.contentBg {
  background-color: var(--black);
  padding-top: 20px;
  padding-bottom: 70px;
}

.filtersDivider {
  position: relative;
  top: -4px;
  height: 4px;
  background-color: var(--grey);;
  z-index: 0;
}

.footer {
  background-color: var(--grey);
  padding: 23px 0;
  text-align: center;
}
